+e.top
	.container
		+e.top-title Залиште відгук
		+e.top-footer
			+e('a').top-button.btn.btn-white(href='/') Залишити відгук
.container
	+e.head
		+e('h2').title Відгуки наших клієнтів
		+e.head-footer
			+e('a').head-button.btn.btn-white(href='/') Залишити відгук