//---
	layout: layouts/main
	title: "Styles"
//---

.container
	h1 Heading H1 <small>(??px)</small>
	h2 Heading H2 <small>(??px)</small>
	h3 Heading H3 <small>(??px)</small>
	h4 Heading H4 <small>(??px)</small>
	h5 Heading H5 <small>(??px)</small>
	h6 Heading H6 <small>(??px)</small>
