extends main

block main
	+b('section').intro: +i({
		bg: "assets/i/intro-bg.jpg",
		image: "assets/i/intro-img.png",
		title: "Комплекс із грибів",
		text: "Ми розробили його спеціально для концентрації <br/>твоєї уваги та пам’яті",
		buttonLabel: "Купити",
		buttonUrl: "/",
		ticker: ["БЕЗ ЛАКТОЗИ", "БЕЗ ГМО", "ВЕГАН", "БЕЗ ЛАКТОЗИ", "БЕЗ ГМО", "ВЕГАН", "БЕЗ ЛАКТОЗИ", "БЕЗ ГМО", "ВЕГАН", "БЕЗ ЛАКТОЗИ", "БЕЗ ГМО", "ВЕГАН"]
	})

	+b('section').info-box#section-info: +i({
		label: "Медичні гриби?",
		title: "Так- так, ми уявляємо <br/>як це може звучати <br/>вперше. Та повір, люди <br/>давно це роблять",
		text: "Медичні гриби використовувались у Східній медицині тисячі років тому. Вони зміцнювали тіло, дух та розум. І це не легенди. Ціла низка досліджень підтверджує позитивний вплив грибів на когнітивні функції – увагу, пам’ять мислення.",
		image: "assets/i/info-img.jpg",
		list: [
			{
				mod: "pink",
				icon: "assets/i/info-icon-1.svg",
				iconWidth: "112",
				iconHeight: "79",
				title: "Як вживати?",
				text: "Не сирими, звичайно ж! Вони приймаються у вигляді порошків. І знаєш що найкрутіше?  Гриби вже крокують світом, щоб задати йому нових обертів!"
			},
			{
				mod: "violet",
				icon: "assets/i/info-icon-2.svg",
				iconWidth: "72",
				iconHeight: "72",
				title: "А яка добова доза?",
				text: "2 капсули на добу для дорослих, але тривалість споживання визначається лікарем індивідуально"
			}
		]
	})

	+b('section').about-box#section-about: +i({
		image: "assets/i/about-img.jpg",
		imageWidth: "864",
		imageHeight: "544",
		gif: "assets/i/brain.gif",
		label: "Давайте знайомитись",
		title: "Про #ЦЕГРИБИ <br/>BRAIN BOOSTER ®",
		list: [
			{
				title: "За походження будь впевнений",
				text: "Наші гриби виросли на своїй батьківщині – у Китаї, за суворими стандартами якості"
			},
			{
				title: "Кожен гриб особливий",
				text: "<p>І надає свої переваги для здоров’я.</p><p>Тож ми ретельно проаналізували різні комбінації та обрали оптимальний комплекс для концентрації твоєї уваги та пам’яті.</p>"
			},
			{
				title: "#ЦЕГРИБИ з тобою",
				text: "щоб надати більшої продуктивності. Ще більшої продуктивності!"
			}
		]
	})

	+b('section').advantages-box: +i({
		title: "Переваги використання",
		image: "assets/i/advantages-img.jpg",
		list: [
			{
				icon: "assets/i/advantages-icon-1.svg",
				text: "Фокус та ясність розуму"
			},
			{
				icon: "assets/i/advantages-icon-2.svg",
				text: "Підтримка здоров’я та імунітету"
			},
			{
				icon: "assets/i/advantages-icon-3.svg",
				text: "Енергія та продуктивність"
			}
		],
		buttonLabel: "Купити",
		buttonUrl: "/",
		ticker: ["БЕЗ ЛАКТОЗИ", "БЕЗ ГМО", "ВЕГАН", "БЕЗ ЛАКТОЗИ", "БЕЗ ГМО", "ВЕГАН", "БЕЗ ЛАКТОЗИ", "БЕЗ ГМО", "ВЕГАН", "БЕЗ ЛАКТОЗИ", "БЕЗ ГМО", "ВЕГАН"]
	})

	+b('section').composition-box#section-composition: +i({
		label: "Склад",
		title: "Знайомся з компонентами",
		data: composition
	})

	+b('section').reviews-box: +i

	+b('section').faq-box#section-faq: +i({
		title: "Кілька відповідей на часті питання",
		label: "Ви питаєте ми відповідаємо",
		data: faq
	})

	+b('section').subscribe-box: +i({
		bg: "assets/i/subscribe-bg.jpg",
		title: "Тільки корисна інформація, без спаму"
	})
